<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="mybatis/config.properties"/>
	
	<typeHandlers>
		<typeHandler handler="com.amundi.social.repo.dao.util.JodaDateTimeTypeHandler"/>
	</typeHandlers>
	
	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${dev.db.driver}" />
				<property name="url" value="${dev.db.url}" />
				<property name="username" value="${dev.db.username}" />
				<property name="password" value="${dev.db.password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<package name="com.amundi.social.repo.dao.mappers"/>
	</mappers>
</configuration>