<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="database.properties"/>
	
	<typeHandlers>
		<typeHandler handler="com.amundi.social.repo.dao.util.JodaDateTimeTypeHandler"/>
	</typeHandlers>
	
	<environments default="default">
		<environment id="default">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${db.driver}" />
				<property name="url" value="${db.url}" />
				<property name="username" value="${db.username}" />
				<property name="password" value="${db.password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<!-- <package name="com.amundi.social.repo.dao.mappers"/> -->
		<mapper class="com.amundi.social.repo.dao.mappers.ApplicationMapper"/>
		<mapper class="com.amundi.social.repo.dao.mappers.ProductMapper"/>
		<mapper class="com.amundi.social.repo.dao.mappers.FavoriteMapper"/>
		<mapper class="com.amundi.social.repo.dao.mappers.FollowMapper"/>
		<mapper class="com.amundi.social.repo.dao.mappers.LikeMapper"/>
		<mapper class="com.amundi.social.repo.dao.mappers.CommentMapper"/>
	</mappers>
</configuration>