<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amundi.social.repo.dao.mappers.ApplicationMapper">

	<resultMap type="com.amundi.social.common.model.Application" id="result">
		<result property = "id" column = "id" />
		<result property = "creatorId" column = "user_id" />
		<result property = "description" column = "description" />
		<result property = "timeCreated" column = "creation_date" javaType="Date"/>
	</resultMap>

	<select id="get" parameterType="string" resultMap="result">
		select * from applications where id = #{appId};
	</select>
	<!-- Insert -->
	<insert id="add" parameterType="com.amundi.social.common.model.Application" keyProperty="id">
		insert into applications (id, user_id, description) values (#{appId}, #{userId}, #{desc})
	</insert>
	
	<!-- Delete -->
	<delete id="delete">
		delete from applications where id = #{appId};
	</delete>
</mapper>