<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amundi.social.repo.dao.mappers.CommentMapper">
	<resultMap type="com.amundi.social.common.model.Comment" id="commentResult">
		<result property = "appId" column = "app_id" />
		<result property = "productId" column = "product_id" />
		<result property = "userId" column = "user_id" />
		<result property = "note" column = "note" javaType="int"/>
		<result property = "content" column = "content" javaType="string"/>
		<result property = "timestamp" column = "timestamp" javaType="Date"/>
	</resultMap>
	
	<sql id="all">
		select 
			ac.id, ac.app_id, ac.product_id, ac.timestamp, ac.user_id, co.note, co.content 
		from activities as ac left join comments as co on ac.id = co.activity_id 
		where type = 4
	</sql>

	<!-- Selects -->
	<select id="getAll" resultMap="commentResult">
		<include refid="all" />
	</select>

	<select id="getByApp" resultMap="commentResult">
		<include refid="all" /> and app_id = #{appId};
	</select>
	
	<select id="getByAppProduct" resultMap="commentResult">
		<include refid="all" /> and app_id = #{appId} and product_id = #{productId};
	</select>
	
	<select id="getByUser" resultMap="commentResult">
		<include refid="all" /> and user_id = #{userId};
	</select>
	
	<select id="getByUserApp" resultMap="commentResult"> 
		<include refid="all" /> and user_id = #{userId} and app_id = #{appId};
	</select>
	
	<!-- Insert -->
	<insert id="add" parameterType="com.amundi.social.common.model.Comment" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into activities (type, app_id, product_id, user_id, timestamp) values (4, #{appId}, #{productId}, #{userId}, #{timestamp});
	</insert>
	
	<insert id="addNoteContent" parameterType="com.amundi.social.common.model.Comment" useGeneratedKeys="true" keyProperty="commentId" keyColumn="id">
		insert into comments (activity_id, content, note) values (#{id}, #{content}, #{note});
	</insert>
	
	<!-- Delete -->
	<delete id="remove" parameterType="com.amundi.social.common.model.Comment">
		delete from activities where type = 4 and app_id = #{appId} and product_id = #{productId} and user_id = #{userId};
	</delete>

	<delete id="removeByActivityId" parameterType="int">
		delete from activities where id = #{activityId};
	</delete>
</mapper>