<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amundi.social.repo.dao.mappers.FollowMapper">
	<resultMap type="com.amundi.social.common.model.Follow" id="followResult">
		<result property = "appId" column = "app_id" />
		<result property = "productId" column = "product_id" />
		<result property = "userId" column = "user_id" />
		<result property="timestamp" column="timestamp" javaType="Date"/>
		<!-- <result property = "timestamp" column = "timestamp" javaType="org.joda.time.DateTime" typeHandler="com.amundi.social.repo.dao.util.JodaDateTimeTypeHandler"/> -->
	</resultMap>
	
	<sql id="all">
		select * from activities where type = 3
	</sql>

	<!-- Selects -->
	<select id="getAll" resultMap="followResult">
		<include refid="all" />
	</select>

	<select id="getByApp" resultMap="followResult">
		<include refid="all" /> and app_id = #{appId};
	</select>
	
	<select id="getByAppProduct" resultMap="followResult">
		<include refid="all" /> and app_id = #{appId} and product_id = #{productId};
	</select>
	
	<select id="getByUser" resultMap="followResult">
		<include refid="all" /> and user_id = #{userId};
	</select>
	
	<select id="getByUserApp" resultMap="followResult"> 
		<include refid="all" /> and user_id = #{userId} and app_id = #{appId};
	</select>
	
	<!-- Insert -->
	<insert id="add" parameterType="com.amundi.social.common.model.Follow" useGeneratedKeys="true" keyProperty="id">
		insert into activities (type, app_id, product_id, user_id) values (3, #{appId}, #{productId}, #{userId});
	</insert>
	
	<!-- Delete -->
	<delete id="remove" parameterType="com.amundi.social.common.model.Follow">
		delete from activities where type = 3 and app_id = #{appId} and product_id = #{productId} and user_id = #{userId};
	</delete>
	
	<delete id="remove" parameterType="int">
		delete from activities where id = #{activityId};
	</delete>
</mapper>